@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body{
    background-color: #333;
    overflow-x: hidden;
}

.contenu{
    display : flex;
    flex-direction: column;
    align-items: center;
    height : 100vh;
    width: 100vw;
    .bouton{
        display: inline;
        position: relative;
        background-color: #5a4f8d;
        border: 0.2vh solid rgb(253, 244, 161);
        border-radius: 0.4vh;
        color: rgb(253, 244, 161);
        padding: 1.5vh;
        text-align: center;
        text-decoration: none;
        font-size: 2vh;
        margin-bottom: 2vh;
        margin-right: 2vw;
        margin-top: 2vh;
        
    }
    .titres{
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        color: rgb(255, 248, 143);
        width: 75vw;
        text-align: center;
        @media (min-width: 768px) {
            font-size: 3vh;
          }
          
    }
    .poster{
        width : 47vw;
        height : 69vw;
        margin-bottom: 3vh;
        margin-top: 7vh;
        box-shadow: 5px 5px 5px black;
        @media (min-width: 768px) {
            height : 35vh;
            width: auto;
          }
          @media (min-width: 1200px) {
            height : 45vh;
            width: auto;
            margin-top: 5vh;
        } 
    }
    .acteurs{
        display : flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 30vh;
        .acteur{
            display : flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height : 23vw;
            width : 23vw;
            max-width: 300px;
            max-height: 300px;
            margin-right: 2vw;
            margin-bottom: 2vh;
            padding: 1vh;
            background-color: rgb(247, 231, 140);
            border: 0.5vh solid rgb(114, 101, 56); 
            border-radius: 1vh;
            color : black;
            font-family: 'Patrick Hand', cursive;
            font-size : 5vw;
            font-weight: 500;
            box-shadow: 5px 5px 5px black;
            animation: rotate 0.5s ease-in-out;
            @media (min-width: 768px) {
                height : 15vw;
                width : 15vw;
                font-size : 3vw;
              }
            @media (min-width: 1200px) {
                height : 11vw;
                width : 11vw;
                font-size : 2vw;
            } 
        }
        @media (min-width: 768px) {
            width : 75vw;
          }
        @media (min-width: 1200px) {
        width : 90vw;
        }
    }
}



@keyframes rotate {
    from{
        -webkit-transform: rotateY(90deg);
    }
    to{
        -webkit-transform: rotateY(0deg);
    }
}
